# Python PIP Package Requirements
# Run 'pip install -r requirements.txt'

# required by Flask, this exact version works
werkzeug==2.1.2

# requirements
Flask==2.1.2
flask-expects-json==1.7.0
flask-redoc==0.2.1
gunicorn==20.1.0
